
.search-group{
  
 padding-top:30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1600px;
  margin: 0 auto;
}
.placeSearch,.modeofWorking,.salary,.searchButton{
  
border: 10px solid white;
box-shadow:"0px 2px 4px 1px solid white";
border-right:0.3px solid rgb(238, 238, 238); ;

 
}
.job{
  
  background-color: blue;
  color: white;
 
  font-size: 15px;
}
