.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    display: block;
}
 .jobDetails-main{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    /* background-color: rgb(135, 135, 202);  */
    margin-top: 40px !important;
    margin: 0 auto;
}
